.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    font-weight: 600;
}

body {
    background-color: #f8f8f8;
    transition: all 0.3s;
}

footer,header {
  background-color: #fff;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #fff;
    z-index: 1001;
}

.header__container {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.header__flex {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    display: block;
}

.header__logo img {
    max-width: 100%;
    height: 76px;
}

.header__navigation {
    align-items: center;
    position: relative;
}

.navigation {
    display: flex;
    height: 100%;
}
.navigation__item {
    display: flex;
    height: 100%;
    padding: 0 14px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.navigation__item:hover {
    color: #909090;
}

.content {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
    padding: 20px;
}

footer {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.footer__block {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}

.menu {
    width: 80%;
    margin: auto;
}
.menu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}
.pizza-card {
    display: flex;
    width: calc(33.3% - 10px);
    margin: 5px;
    background-color: #fff;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.pizza-card__inner {
    padding: 10px 5px;
    position: relative;
}

.pizza-card:hover {
    box-shadow: 0px 0px 9px 0px #adadad;
}

.pizza-card img {
    max-width: 100%;
}
.pizza-card__name {
    font-size: 24px;
}
.pizza-card__desc {
    margin-bottom: 100px;
}
.pizza-card__price {
    margin-top: 10px;
    font-size: 22px;
    position: absolute;
    bottom: 70px;
    width: 100%;
}

button {
    vertical-align: middle;
    height: 44px;
    padding: 12px 25px;
    border-radius: 20px;
    background-color: #03ab83;
    border: none;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    transition: transform 0.1s;
    outline:0;
}

button:hover {
    background-color: #058062;

}
.pizza-card__add-to-cart {
    padding: 15px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.minicart {
    position: fixed;
    bottom: 50px;
    right: 80px;
    border-radius: 35px;
    background-color: #bf1717;
    height: 60px;
    color: #fff;
    text-decoration: none;
}
.minicart:hover {
    background-color: #d81818;
}

.minicart__inner {
    display: flex;
    height: 26px;
    padding: 17px;
}
.minicart__inner img {
    max-height: 100%;
    filter: invert(100%);
}

.minicart__totals {
    font-size: 16px;
    padding: 0 10px;
    line-height: 26px;
}

._left {
    text-align: left;
    padding-left: 10px;
}

._right {
    text-align: right;
    padding-right: 10px;
}

.checkout {
    max-width: 800px;
    width: 80%;
    margin: auto;
}
.checkout__block {
    background-color: #fff;
    border-radius: 10px;
    margin: 10px 0;
    padding: 5px 15px 10px 15px;
}

.checkout__block-title {
    margin: 0;
    padding: 5px 0;
}

.cart-items-counter {
    background-color: #4ba54b;
    border-radius: 13px;
    padding: 2px 8px;
    margin-left: 7px;
    color: #fff;
}


.position {
    display: flex;
    align-items: center;
}
.position__title {
    flex: 1 0;
}
.position__image img {
    width: 160px;
}
.position__quantity {
    display: flex;
    width: 10%;
    margin: auto;
    justify-content: center;
}
.position__quantity {
    width: 15%;
    margin: auto;
}
.position__price {
    width: 10%;
    margin: auto;
}
.position__controls {
    width: 20%;
    margin: auto;
}

.remove-all {
    cursor: pointer;
}
.remove-all:hover {
    color: #909090;
}
.quantity-control {
    border-radius: 20px;
    background-color: #03ab83;
    color: #fff;
    width: 20px;
    height: 20px;
    line-height: 18px;
    cursor: pointer;
    margin: 0px 5px;
    user-select: none;
}
.quantity-control:hover {
    background-color: #058062;
}

.quantity__number {
    margin: 0px 10px;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.inputs-group {
    display: flex;
    flex-wrap: wrap;
}

.inputs-group label {
    width: calc(50% - 96px);
    min-width: 200px;
    display: block;
    text-align: left;
    margin: 10px 36px;
}
.inputs-group input {
    width: 100%;

    display: block;
    height: 20px;
    padding: 12px 16px;
    border-radius: 2px;
    border: none;
    background-color: #f5f5f5;
    font-size: 16px;
    color: #70544f;
    box-shadow: none;
    transition: background-color .35s;
}

.delivery-tabs {
    display: flex;
 }

.delivery-tabs__tab {
    margin: 10px;
    cursor: pointer;
    transition: color 0.3s;
}
.delivery-tabs .not-checked {
    color: #d8d8d8;
}
.delivery-tabs__tab:hover {
    color: #35736d;
}
.order-buttons {
    margin: 10px;
}
.order-buttons button {
    min-width: 166px;
}
.order__btns {
    margin: 20px 0px;
}
.modal {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000000a1;
    z-index: 10000;
}
.modal__inner {
    width: 40%;
    margin: auto;
    background-color: white;
    top: 20%;
    border-radius: 20px;
    padding: 20px;
}

@media (max-width: 1000px) {
    .pizza-card {
        width: calc(50% - 10px);
    }
    .position {
        display: block;
        margin-bottom: 20px;
        border-bottom: 1px solid #d8d8d8;
    }
    .position__controls,
    .position__price,
    .position__quantity {
        width: 100%;
        margin: 10px 0;
    }
}
@media (max-width: 660px) {
    .menu, .checkout {
        width: 100%;
    }
    .pizza-card {
        width: 100%;
    }
}
@media (max-width: 475px) {
    .inputs-group label {
        margin-left: 0;
        margin-right: 0;
    }
    .inputs-group input {
        width: 75%;
    }
}